body{

   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Nav */
.nav {

   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(0, 0, 0);
   padding: 10px 20px;
}

.nav img{

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;

}

.nav li {
   margin: 0 13px;
}
.nav a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 16px;
}
#LogIn button {
   background-color: #44b51e; 
   font-family: 'Courier New', Courier, monospace;
   padding: 6px 12px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold; 
   color: #000000; 
}

#Linqet img{
   width: 18px;
   height: 18px;
   border-radius: 18px;

}

/* Kontaineri */
.container {
   position: relative;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    text-align: center; /* Center text inside */
}


.welcome-message {
   position: absolute;
   top: 20%; 
   left: 50%; 
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
   font-weight: bold;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.search-box{

   text-align: center;
   margin-top: 20px;
}
.search-box input{

   padding: 10px 20px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 300px;
   margin-bottom: 10px;
}
.search-box button {
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   background-color: #44b51e; /* Green background */
   color: white;
   cursor: pointer;
}
.search-box button:hover {
   background-color: #333; /* Darker green when hovered */
}

